<!-- <div>
    <div class="container">
        <form class="form-group">
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="email" class="form-control" id="email">
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Product">Product Group:</label>
                            <select class="form-control">   
                           
                        <option value="abc">abc</option>
                        <option value="xyz">xyz</option>
                        <option value="cvbg">cvbg</option>
                        <option value="mnjk">mnjk</option>
                      </select>
                        </div>
                    </div>
                </div>

                <form class="form-group" #form="ngForm" (ngSubmit)="submit(form)" [formGroup]="productForm">
                    <div class="row" formArrayName="itemRows">

                        
                        <div *ngFor=" let itemrow of productForm.controls.itemRows.controls; let i=index" form="i">

                            <div [formGroupName]="i">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="unitValue">Unit Value:</label>

                                        
                                        <input formControlName="unitValue" class="form-control">
                                       

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="unittype">Unit type:</label>
                                       
                                        <select formControlName="unittype" class="form-control">
                        <option value="abc">abc</option>
                        <option value="xyz">xyz</option>
                        <option value="cvbg">cvbg</option>
                        <option value="mnjk">mnjk</option>
                      </select>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="">
                                            <label for="unitValuesec">Unit Value:</label>
                                           
                                            <input formControlName="unitValuesec" class="form-control">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="unittypesec">Unit type:</label>
                                        
                                        <select formControlName="unittypesec" class="form-control">
                        <option value="abc">abc</option>
                        <option value="xyz">xyz</option>
                        <option value="cvbg">cvbg</option>
                        <option value="mnjk">mnjk</option>
                      </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary"> submit</button>
                </form>
                <div>
                   
                    <button class="btn btn-default" (click)="addNewRow()">add a another link</button>
                </div>
            </div>

        </form>

    </div>
</div> -->
<!-- <h1>Angular App</h1> -->
<!-- <courses></courses> -->
<!-- <app-contact-form></app-contact-form> -->
<!-- <app-sign-up-form></app-sign-up-form> -->
<app-posts></app-posts>