<div class="container">
    <input type="text" class="form-control" (keyup.enter)="createPost(input)" #input placeholder="enter a post to add">
    <ul class="list-group" *ngFor="let post of posts ; let i = index">
        <li class="list-group-item">

            <span>{{i+1}} </span>{{post.title}}
            <button class="btn btn-primary small" (click)="updateData(post)">update</button>
            <button class="btn btn-danger small" (click)="deleteData(post)">delete</button>
        </li>

    </ul>
</div>